[Unit]
Description="{{ forksNodeForkIdentifier|capitalize }} Farming Node Service"
After=network.target

[Service]
Type=forking
RestartSec=15s
Restart=always
User={{ forksNodeSystemUsername }}
Group={{ forksNodeSystemUsername }}

WorkingDirectory={{ forksNodeApplicationDirectory }}
Environment=PATH={{ forksNodeApplicationDirectory }}:{{ forksNodeApplicationDirectory }}/venv/bin

Environment=REQUESTS_CA_BUNDLE={{ forksSystemCaCertificatesFilePath }}
Environment=SSL_CERT_DIR=/etc/ssl/certs

#ExecStart=/{{ forksNodeApplicationDirectory }}/venv/bin/{{ forksNodeExecutableName }} run_demon
ExecStart={{ forksNodeApplicationDirectory }}/venv/bin/{{ forksNodeExecutableName }} start {{ forksNodeService }}
{% if forksNodeIsHarvester %}ExecStartPost={{ forksNodeApplicationDirectory }}/venv/bin/{{ forksNodeExecutableName }} start harvester
{% endif %}
ExecStop={{ forksNodeApplicationDirectory }}/venv/bin/{{ forksNodeExecutableName }} stop all -d

[Install]
WantedBy=multi-user.target
