[Unit]
Description="{{ forkIdentifier|capitalize }} Farming Node Service"
After=network.target

[Service]
Type=forking
RestartSec=15s
Restart=always
User={{ forkSystemUsername }}
Group={{ forkSystemUsername }}

WorkingDirectory=/usr/lib/{{ forkApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/
Environment=PATH=/usr/lib/{{ forkApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/

Environment=REQUESTS_CA_BUNDLE={{ mavenoSystemCaCertificatesFilePath }}
Environment=SSL_CERT_DIR=/etc/ssl/certs

#ExecStart=/usr/lib/{{ forkApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/{{ forkBuildRequirementsDescriptor.executableName|default(forkIdentifier) }} run_demon
ExecStartPost=/usr/lib/{{ forkApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/{{ forkBuildRequirementsDescriptor.executableName|default(forkIdentifier) }} start farmer-no-wallet
ExecStop=/usr/lib/{{ forkApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/{{ forkBuildRequirementsDescriptor.executableName|default(forkIdentifier) }} stop all -d

[Install]
WantedBy=multi-user.target
