[Unit]
Description="{{ forksComponentIdentifier|capitalize }} Farming Node Service"
After=network.target

[Service]
Type=forking
RestartSec=15s
Restart=always
User={{ forksComponentSystemUsername }}
Group={{ forksComponentSystemUsername }}

WorkingDirectory={{ forksComponentApplicationDirectory }}
Environment=PATH={{ forksComponentApplicationDirectory }}:{{ forksComponentApplicationDirectory }}/venv/bin

Environment=REQUESTS_CA_BUNDLE={{ forksSystemCaCertificatesFilePath }}
Environment=SSL_CERT_DIR=/etc/ssl/certs

#ExecStart=/{{ forksComponentApplicationDirectory }}/venv/bin/{{ forkBuildRequirementsDescriptor.executableName|default(forksComponentIdentifier) }} run_demon
ExecStart={{ forksComponentApplicationDirectory }}/venv/bin/{{ forkBuildRequirementsDescriptor.executableName|default(forksComponentIdentifier) }} start {{ forksStartOptionLookupTable[forksComponentComponentType] }}
ExecStop={{ forksComponentApplicationDirectory }}/venv/bin/{{ forkBuildRequirementsDescriptor.executableName|default(forksComponentIdentifier) }} stop all -d

[Install]
WantedBy=multi-user.target