[Unit]
Description="{{ forksComponentIdentifier|capitalize }} Farming Node Service"
After=network.target

[Service]
Type=forking
RestartSec=15s
Restart=always
User={{ forksComponentSystemUsername }}
Group={{ forksComponentSystemUsername }}

WorkingDirectory=/usr/lib/{{ forksComponentApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/
Environment=PATH=/usr/lib/{{ forksComponentApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/

Environment=REQUESTS_CA_BUNDLE={{ forksSystemCaCertificatesFilePath }}
Environment=SSL_CERT_DIR=/etc/ssl/certs

#ExecStart=/usr/lib/{{ forksComponentApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/{{ forkBuildRequirementsDescriptor.executableName|default(forksComponentIdentifier) }} run_demon
ExecStartPost=/usr/lib/{{ forksComponentApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/{{ forkBuildRequirementsDescriptor.executableName|default(forksComponentIdentifier) }} start farmer-no-wallet
ExecStop=/usr/lib/{{ forksComponentApplicationDirectoryName }}/resources/app.asar.unpacked/daemon/{{ forkBuildRequirementsDescriptor.executableName|default(forksComponentIdentifier) }} stop all -d

[Install]
WantedBy=multi-user.target
