#!/bin/bash

USER_NAME='{{ forksNodeSystemUsername }}'
SERVICE_NAME='{{ forksNodeServiceName }}'
EXECUTABLE_NAME='{{ forksNodeExecutableName }}'
HOME_DIR="{{ forksNodeHomeDirectory }}"
APP_DIR="{{ forksNodeApplicationDirectory }}"
CONFIG_DIR_NAME="{{ forksNodeConfigurationDirectoryName | basename }}"
GITHUB_REPO_IDENTIFIER='{{ forksNodeRepositoryIdentifier }}'
GITHUB_RELEASE_URL="https://api.github.com/repos/${GITHUB_REPO_IDENTIFIER}/releases/latest"
GITHUB_REPO_URL="https://github.com/${GITHUB_REPO_IDENTIFIER}.git"
BRANCH={{ forksNodeRepositoryBranch }}

if [[ "${1}" == '--install' ]] || [[ $(systemctl status "${SERVICE_NAME}" | grep Loaded: | awk '{print $4}') == 'enabled;' ]]; then

    if [[ "${1}" != '--install' ]]; then
        servicePreviousStatus=$(systemctl status "${SERVICE_NAME}" | grep Active: | awk '{print $2}')

        su - "${USER_NAME}" -c "cd ${APP_DIR} && git fetch 1>/dev/null 2>&1"
        CURRENT_COMMIT=$(su - "${USER_NAME}" -c "cd ${APP_DIR} && git rev-parse HEAD")
        AVAILABLE_COMMIT=$(su - "${USER_NAME}" -c "cd ${APP_DIR} && git rev-parse origin/$BRANCH")
    fi

    if  [[ "${1}" == '--force' ]] || [[ "${1}" == '--install' ]] || [[ "${CURRENT_COMMIT}" != "${AVAILABLE_COMMIT}" ]]; then
        rm -rf /tmp/clvm_compile
        systemctl stop "${SERVICE_NAME}"
        usermod -aG sudo "${USER_NAME}"
        rm -rf "${APP_DIR}"

        su - "${USER_NAME}" -c "git clone -b $BRANCH ${GITHUB_REPO_URL} ${APP_DIR}"
        if [[ -f "{{ forksInstallerDirectory }}/{{ forkIdentifier }}/install.sh" ]]; then
          cp "{{ forksInstallerDirectory }}/{{ forkIdentifier }}/install.sh" "$APP_DIR"
          chown "$USER_NAME:$USER_NAME" "$APP_DIR/install.sh"
        fi

        chmod 'ug+x' "${APP_DIR}/install.sh"
        su - "${USER_NAME}" -c "cd ${APP_DIR} && ./install.sh"
        deluser "${USER_NAME}" 'sudo'

{% if forksNodePermissionsFix %}
        su - "${USER_NAME}" -c "chmod go-rwx -R ${CONFIG_DIR_NAME}/mainnet/config/ssl"
        su - "${USER_NAME}" -c "${EXECUTABLE_NAME} init"
{% else %}
        su - "${USER_NAME}" -c "${EXECUTABLE_NAME} init --fix-ssl-permissions"
{% endif %}

{#        if [[ -d "{{ forksPatchRootDirectory }}/{{ forkIdentifier }}" ]]; then
          cp -a "{{ forksPatchRootDirectory }}/{{ forkIdentifier }}/*" "$APP_DIR" 2>/dev/null
          chown "$USER_NAME:$USER_NAME" -R "$APP_DIR"
        fi #}

        if [[ "${1}" == '--force' ]] || [[ "${servicePreviousStatus}" == 'active' ]]; then
            sleep 60
            systemctl start "${SERVICE_NAME}"
        fi
        if [[ "${1}" == '--install' ]]; then
            sleep 60
            systemctl enable --now "${SERVICE_NAME}"
        fi
    fi
fi
