#!/bin/bash


WALLET_USER_BASEDIR={{ forksLibraryDirectory }}

kickWallet() {

    blockRequests=$(cat "${WALLET_USER_BASEDIR}/${1}/.${2}/mainnet/log/debug.log" | tail -5 | grep 'Requesting blocks' | wc -l)

    if [[ "${blockRequests}" -gt 4 ]]; then
        sudo su - "${1}" -c "${3} start ${4} -r"
    fi
}

# Usage:
#
# kickWallet <forkUsername> <configDirName> <executableName> <restartCommand>
#
#

